body {
  font-family: 'Proza Libre', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Cormorant Garamond', serif;
}

hr.star-light,
hr.star-dark {
  max-width: 15rem;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 0.25rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

hr.star-light:after,
hr.star-dark:after {
  position: relative;
  top: -.8em;
  display: inline-block;
  padding: 0 0.25em;
  content: '\f005';
  font-family: FontAwesome;
  font-size: 2em;
}

hr.star-light {
  border-color: #fff;
}

hr.star-light:after {
  color: #fff;
  background-color: #ceaf00;
}

hr.star-dark {
  border-color: #2c3e50;
}

hr.star-dark:after {
  color: #2c3e50;
  background-color: white;
}

section {
  padding: 6rem 0;
}

section h2 {
  font-size: 2.25rem;
  line-height: 2rem;
}

@media (min-width: 992px) {
  section h2 {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}

.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.25rem;
}

.btn-social {
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  line-height: 2rem;
}

.scroll-to-top {
  z-index: 1042;
  right: 1rem;
  bottom: 1rem;
  display: none;
}

.scroll-to-top a {
  width: 3.5rem;
  height: 3.5rem;
  background-color: rgba(33, 37, 41, 0.5);
  line-height: 3.1rem;
}

.about-section {
  background: linear-gradient(#fff 0%, #dfe5d7 10%, #b3bead 20%, #495057 40%, black 50%, #495057 60%, #b3bead 80%, #dfe5d7 90%, #fff 100%);
  opacity: 0.6;
}

.about-paragraph {
  color: rgba(248, 249, 250, 0.6);
  text-shadow: 1px 2px 0 black, 1px 2px 0 black;
}

.mt-4 .about-paragraph:hover {
  text-shadow: none;
}

.project-title {
  color: rgba(73, 80, 87, 0.8);
  text-shadow: 1px 2px 0 #adb5bd;
}

.typed-cursor {
  display: inline;
  animation: blink 0.6s infinite;
  opacity: 1;
  color: #ceaf00;
}

#typed-texts {
  text-shadow: #ceaf00 !important;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.sns {
  color: rgba(248, 249, 250, 0.6);
}

.box {
  background-color: white;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.box b {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #e9ecef;
  box-shadow: inset -5px -5px 5px rgba(0, 0, 0, 0.6), 15px 15px 2px rgba(0, 0, 0, 0.04);
  position: absolute;
  -webkit-animation: moveX 5.05s linear 0s infinite alternate, moveY 5.4s linear 0s infinite alternate;
  -moz-animation: moveX 5.05s linear 0s infinite alternate, moveY 5.4s linear 0s infinite alternate;
  -o-animation: moveX 5.05s linear 0s infinite alternate, moveY 5.4s linear 0s infinite alternate;
  animation: moveX 5.05s linear 0s infinite alternate, moveY 5.4s linear 0s infinite alternate;
}

@-webkit-keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

@-moz-keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

@-o-keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

@keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

@-webkit-keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: 80%;
  }
}

@-moz-keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: 80%;
  }
}

@-o-keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: 80%;
  }
}

@keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: 80%;
  }
}

#mainNav {
  font-weight: 700;
  font-family: 'Cormorant Garamond', serif;
}

#mainNav .navbar-brand {
  color: rgba(73, 80, 87, 0.8);
  text-shadow: 1px 2px 0 #adb5bd;
}

#mainNav .navbar-nav {
  margin-top: 1rem;
  letter-spacing: 0.0625rem;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
  color: rgba(73, 80, 87, 0.8);
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #ceaf00;
  animation: gold-glow 0.1s ease-out;
}

#mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
  color: rgba(73, 80, 87, 0.8);
}

#mainNav .navbar-nav li.nav-item a.nav-link.active {
  color: #ceaf00;
  animation: gold-glow 0.1s ease-out;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.8rem;
}

@media (min-width: 992px) {
  #mainNav {
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
  }
  #mainNav .navbar-brand {
    font-size: 2em;
    -webkit-transition: font-size 0.3s;
    -moz-transition: font-size 0.3s;
    transition: font-size 0.3s;
  }
  #mainNav .navbar-nav {
    margin-top: 0;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
    color: #ceaf00;
    animation: gold-glow 0.1s ease-out;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
    color: #ceaf00;
    animation: gold-glow 0.1s ease-out;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }
}

@-webkit-keyframes gold-glow {
  from {
    text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 8px #fff, 0 0 12px #ceaf00, 0 0 16px #ceaf00, 0 0 20px #ceaf00, 0 0 25px #ceaf00, 0 0 30px #ceaf00;
  }
  to {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 5px #ceaf00, 0 0 7px #ceaf00, 0 0 10px #ceaf00, 0 0 12px #ceaf00, 0 0 15px #ceaf00;
  }
}

header.masthead {
  padding-top: calc(6rem + 72px);
  padding-bottom: 6rem;
}

header.masthead h1 {
  font-size: 3rem;
  line-height: 3rem;
  color: rgba(73, 80, 87, 0.8);
}

header.masthead h2 {
  font-size: 1.3rem;
  font-family: 'Proza Libre', sans-serif;
  color: rgba(73, 80, 87, 0.8);
  opacity: 0.6;
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(6rem + 106px);
    padding-bottom: 6rem;
  }
  header.masthead h1 {
    font-size: 3.5em;
    line-height: 4rem;
    color: rgba(73, 80, 87, 0.8);
    letter-spacing: 0.1rem;
  }
  header.masthead h2 {
    font-size: 1.75em;
    color: rgba(73, 80, 87, 0.8);
    opacity: 0.6;
  }
}

#header-text {
  padding-bottom: 2rem;
  text-shadow: 2.5px 3px 0 #ced4da;
}

.portfolio {
  margin-bottom: -15px;
}

.portfolio .portfolio-item {
  position: relative;
  display: block;
  max-width: 25rem;
  margin-bottom: 15px;
  box-shadow: 1px 10px 15px rgba(73, 80, 87, 0.8);
}

.portfolio .portfolio-item .portfolio-item-caption {
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background-color: rgba(206, 175, 0, 0.9);
}

.portfolio .portfolio-item .portfolio-item-caption:hover {
  opacity: 1;
}

.portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
  font-size: 1.5rem;
}

@media (min-width: 576px) {
  .portfolio {
    margin-bottom: -30px;
  }
  .portfolio .portfolio-item {
    margin-bottom: 30px;
  }
}

.portfolio-modal .portfolio-modal-dialog {
  padding: 3rem 1rem;
  min-height: calc(100vh - 2rem);
  margin: 1rem calc(1rem - 8px);
  position: relative;
  z-index: 2;
  -moz-box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
}

.portfolio-modal .portfolio-modal-dialog .close-button {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.portfolio-modal .portfolio-modal-dialog .close-button i {
  line-height: 38px;
}

.portfolio-modal .portfolio-modal-dialog h2 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  .portfolio-modal .portfolio-modal-dialog {
    min-height: 100vh;
    padding: 5rem;
    margin: 3rem calc(3rem - 8px);
  }
  .portfolio-modal .portfolio-modal-dialog h2 {
    font-size: 3rem;
  }
}

#portfolio-text {
  color: rgba(73, 80, 87, 0.8);
  text-shadow: 1px 2px 0 #ced4da;
}

.floating-label-form-group {
  position: relative;
  border-bottom: 1px solid #e9ecef;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
  font-size: 1.5em;
  position: relative;
  z-index: 1;
  padding-right: 0;
  padding-left: 0;
  resize: none;
  border: none;
  border-radius: 0;
  background: none;
  box-shadow: none !important;
}

.floating-label-form-group label {
  font-size: 0.85em;
  line-height: 1.764705882em;
  position: relative;
  z-index: 0;
  top: 2em;
  display: block;
  margin: 0;
  -webkit-transition: top 0.3s ease, opacity 0.3s ease;
  -moz-transition: top 0.3s ease, opacity 0.3s ease;
  -ms-transition: top 0.3s ease, opacity 0.3s ease;
  transition: top 0.3s ease, opacity 0.3s ease;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
}

.floating-label-form-group:not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #e9ecef;
}

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}

.floating-label-form-group-with-focus label {
  color: #ceaf00;
}

form .row:first-child .floating-label-form-group {
  border-top: 1px solid #e9ecef;
}

#contact-text {
  color: rgba(73, 80, 87, 0.8);
  text-shadow: 1px 2px 0 #ced4da;
}

.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: linear-gradient(to top, #495057 0%, #b3bead 70%, #dfe5d7 80%, #fcfff4 90%, #f8f9fa 100%);
  color: rgba(248, 249, 250, 0.6);
  text-shadow: 1px 2px 0 #495057;
}

.copyright {
  background-color: #1a252f;
}

#bottom-footer {
  background: linear-gradient(to top, #21282f 0%, #495057 100%);
  color: rgba(248, 249, 250, 0.6);
}

a {
  color: #ceaf00;
}

a:focus, a:hover, a:active {
  color: #9b8400;
}

.btn {
  border-width: 2px;
}

.bg-primary {
  background-color: #ceaf00 !important;
}

.bg-secondary {
  background: linear-gradient(to bottom, #495057 0%, #b3bead 20%, #dfe5d7 40%, #fcfff4 80%, #f8f9fa 100%) !important;
}

.text-primary {
  color: #ceaf00 !important;
}

.text-secondary {
  color: #2c3e50 !important;
}

.btn-primary {
  background-color: #ceaf00;
  border-color: #ceaf00;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #9b8400;
  border-color: #9b8400;
}

.btn-secondary {
  background-color: #2c3e50;
  border-color: #2c3e50;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  background-color: #1a252f;
  border-color: #1a252f;
}
