// Variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$grey: #495057 !default;

$primary: #ceaf00 !default;
$shadow: #adb5bd;
$secondary: #2c3e50 !default;

$gradient: linear-gradient(to bottom, #495057 0%, #b3bead 20%,#dfe5d7 40%,#fcfff4 80%, #f8f9fa 100%);
$reverseGradient: linear-gradient(to top, #495057 0%, #b3bead 70%, #dfe5d7 80%, #fcfff4 90%, #f8f9fa 100%);
$darkGradient: linear-gradient(to top, #21282f 0%, #495057 100%);
